 body{

    background-color: rgb(186, 207, 226);
 }

 .heading{
    width: 50%;
    font-size: 30px;
    font-weight: bold;
 }

 .NomeDeObjetos{
    color: rgb(117, 113, 182);
 }

 #camera{
    border: 3px dashed black;
    width: 350px;
    height: 300px;
 }

 #Objeto, #Precisao{
    color: rgb(117, 113, 182);
 }